.main {
  @media screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #78909c;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    text-decoration: underline;
  }
}

.text {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 20px;
  margin-right: 15px;
}

.top {
  margin-top: 10px;
  background-color: #78909c;
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: center;
  text-decoration: underline;
}

.top > h3 {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-decoration: underline;
}
