.main {
  flex-direction: row;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
}

.main > :not(:last-child) {
  margin-right: 220px;
}

.image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 50px;
}
